{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
    <title>{{ driver.name_text }} Page</title>
</head>
<body style="width: 100%; height: 100%; overflow-x: hidden">
<div class="navbar">
    <div class="symbol-div">
        <a href="{% url 'BoschWebsite:index' %}">
            <img class="f1-symbol" src="https://upload.wikimedia.org/wikipedia/commons/4/45/F1_logo.svg"></a>
    </div>

    <div class="drivermenu">
        <button class="drivermenubtn">Drivers</button>
        <div class="dropdown-driver">
            {% if latest_driver_list %}
                {% for driver in latest_driver_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:driverdetail' driver.id %}">
                        <button class="driverbtn">
                            {{ driver.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No driver available.</p>
            {% endif %}
        </div>
    </div>
    <div class="teammenu">
        <button class="teammenubtn">Teams</button>
        <div class="dropdown-team">
            {% if latest_team_list %}
                {% for team in latest_team_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                        <button class="teambtn" style="cursor: pointer">
                            {{ team.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No Team available.</p>
            {% endif %}
        </div>
    </div>
    <div class="trackmenu">
        <button class="trackmenubtn">Tracks</button>
        <div class="dropdown-track">
            {% if latest_track_list %}
                {% for track in latest_track_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:track' track.id %}">
                        <button class="trackbtn" style="cursor: pointer">
                            {{ track.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No Track available.</p>
            {% endif %}
        </div>
    </div>

    <div class="overviewmenu">
        <button class="overviewmenubtn" style="cursor: pointer">Overview</button>
    </div>

</div>
<h1>{{ driver.name_text }}</h1>
<ul>
    <img src="{{ driver.driver_image }}" style="width: 300px; height: 300px; border-radius: 20px">

    <li>Team: {{ driver.team }}</li>
    <li>Age: {{ driver.age }}</li>
    <li>Wins: {{ driver.wins }}</li>
    <li>Poles: {{ driver.poles }}</li>
    <li>Titles: {{ driver.titles }}</li>
    <li>Started: {{ driver.start_date }}</li>

</ul>

</body>
</html>





