{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>F1Homepage</title>
</head>
<body>
<div class="navbar">
    <div class="symbol-div">
        <img class="f1-symbol" src="https://upload.wikimedia.org/wikipedia/commons/4/45/F1_logo.svg">
    </div>

    <div class="drivermenu">
        <button class="drivermenubtn">Drivers</button>
        <div class="dropdown-driver">
            {% if latest_driver_list %}
                {% for driver in latest_driver_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:driverdetail' driver.id %}">
                        <button class="driverbtn">
                            {{ driver.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No driver available.</p>
            {% endif %}
        </div>
    </div>
    <div class="teammenu">
        <button class="teammenubtn">Teams</button>
        <div class="dropdown-team">
            {% if latest_team_list %}
                {% for team in latest_team_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                        <button class="teambtn">
                            {{ team.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No Team available.</p>
            {% endif %}
        </div>
    </div>
    <div class="trackmenu">
        <button class="trackmenubtn">Tracks</button>
        <div class="dropdown-track">
            {% if latest_track_list %}
                {% for track in latest_track_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:track' track.id %}">
                        <button class="trackbtn">
                            {{ track.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No Track available.</p>
            {% endif %}
        </div>
    </div>

    <div class="overviewmenu">
        <button class="overviewmenubtn">Overview</button>
    </div>

</div>
<div>
    <!--NO Switch statements in Django??-->

    {% if latest_team_list %}
        {% for team in latest_team_list %}
            <!--dynamically linking websites-->
            {% if team.name_text == "McLaren" %}
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #ff8000 0%, #47c7fc 100%);position: relative">

            {% elif team.name_text == "Mercedes" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #00d2be 0%, #c6c6c6 100%)">

            {% elif team.name_text == "Ferrari" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #dc0000 0%, #111111 100%)">

            {% elif team.name_text == "Red Bull Racing" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #0600ef 0%, #ffc800 100%)">

            {% elif team.name_text == "Alpine" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #0090ff 0%, #fd4bc7 100%)">

            {% elif team.name_text == "Haas" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #ffffff 0%, #ed1a3b 100%)">

            {% elif team.name_text == "Aston Martin" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #00594f 0%, #cedc00 100%)">

            {% elif team.name_text == "AlphaTauri" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #00293f 0%, #f1f3f4 100%)">

            {% elif team.name_text == "Alfa Romeo" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #981e32 0%, #f9f9f8 100%)">

            {% elif team.name_text == "Williams" %}
                <div class="homepageteam" style="background: linear-gradient(to right, #041e42 0%, #00a3e0 100%)">

            {% endif %}

        <ul style="color: white; font-size: 200%">{{ team.name_text }}</ul>
        <img src="{{ team.symbol }}" style="width: 200px; height: 100px; ">
        <p>Wins: {{ team.wins }}</p>
        </div>

        {% endfor %}
    {% else %}
        <p>No Team available.</p>
    {% endif %}
    </div>
</body>
</html>

