{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
    <title>F1Homepage</title>
</head>
<body style="width: 100%; height: 100%; overflow-x: hidden">
<div class="navbar">
    <div class="symbol-div">
        <a href="{% url 'BoschWebsite:index' %}">
            <img class="f1-symbol" src="https://upload.wikimedia.org/wikipedia/commons/4/45/F1_logo.svg"></a>
    </div>

    <div class="drivermenu">
        <button class="drivermenubtn">Drivers</button>
        <div class="dropdown-driver">
            {% if latest_driver_list %}
                {% for driver in latest_driver_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:driverdetail' driver.id %}">
                        <button class="driverbtn">
                            {{ driver.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No driver available.</p>
            {% endif %}
        </div>
    </div>
    <div class="teammenu">
        <button class="teammenubtn">Teams</button>
        <div class="dropdown-team">
            {% if latest_team_list %}
                {% for team in latest_team_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                        <button class="teambtn" style="cursor: pointer">
                            {{ team.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No Team available.</p>
            {% endif %}
        </div>
    </div>
    <div class="trackmenu">
        <button class="trackmenubtn">Tracks</button>
        <div class="dropdown-track">
            {% if latest_track_list %}
                {% for track in latest_track_list %}
                    <!--dynamically linking websites-->
                    <a href="{% url 'BoschWebsite:track' track.id %}">
                        <button class="trackbtn" style="cursor: pointer">
                            {{ track.name_text }}
                        </button>
                    </a>
                {% endfor %}
            {% else %}
                <p>No Track available.</p>
            {% endif %}
        </div>
    </div>

    <div class="overviewmenu">
        <button class="overviewmenubtn" style="cursor: pointer">Overview</button>
    </div>

</div>
<div>
    <!--NO Switch statements in Django??-->

    {% if latest_team_list %}
        {% for team in latest_team_list %}
            <!--dynamically linking websites-->
            {% if team.name_text == "McLaren" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #ff8000 0%, #47c7fc 100%); border-image-source: linear-gradient(to left, #ff8000 0%, #47c7fc 100%)">

            {% elif team.name_text == "Mercedes" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #00d2be 0%, #c6c6c6 100%); border-image-source: linear-gradient(to left, #00d2be 0%, #c6c6c6 100%)">

            {% elif team.name_text == "Ferrari" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #dc0000 0%, #111111 100%); border-image-source: linear-gradient(to left, #dc0000 0%, #111111 100%)">

            {% elif team.name_text == "Red Bull Racing" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #0600ef 0%, #ffc800 100%); border-image-source: linear-gradient(to left, #0600ef 0%, #ffc800 100%)">

            {% elif team.name_text == "Alpine" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #0090ff 0%, #fd4bc7 100%); border-image-source: linear-gradient(to left, #0090ff 0%, #fd4bc7 100%)">

            {% elif team.name_text == "Haas" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #ed1a3b 0%, #ffffff 100%); border-image-source: linear-gradient(to left, #ed1a3b 0%, #ffffff 100%)">

            {% elif team.name_text == "Aston Martin" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #00594f 0%, #cedc00 100%); border-image-source: linear-gradient(to left, #00594f 0%, #cedc00 100%)">

            {% elif team.name_text == "AlphaTauri" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #00293f 0%, #f1f3f4 100%); border-image-source: linear-gradient(to left, #00293f 0%, #f1f3f4 100%)">

            {% elif team.name_text == "Alfa Romeo" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #981e32 0%, #f9f9f8 100%); border-image-source: linear-gradient(to left, #981e32 0%, #f9f9f8 100%)">

            {% elif team.name_text == "Williams" %}
                <a href="{% url 'BoschWebsite:teamdetail' team.id %}">
                <div class="homepageteam"
                     style="background: linear-gradient(to right, #041e42 0%, #00a3e0 100%); border-image-source: linear-gradient(to left, #041e42 0%, #00a3e0 100%)">

            {% endif %}

        <p class="teamname">{{ team.name_text }}</p>
        <div class="divimage">
            <img src="{{ team.symbol }}" style="width: 200px; height: 100px; ">
        </div><br><br><br>
        <div class="divboss">
            <img src="{{ team.boss_image }}" style="width: 200px; height: 150px; ">
            <p>Boss: {{ team.boss }}</p>
        </div>
        <div class="divdivinfo" style="bottom: 300px;">
            <div class="divinfo" style="width: 100px">
                <label class="labelinfo">Wins</label>
                <p class="teaminfo">{{ team.wins }} Wins</p>
            </div>
            <div class="divinfo" style="width: 120px; margin-left: 150px; margin-top: -44px">
                <label class="labelinfo">Pole Positions</label>
                <p class="teaminfo">{{ team.poles }} Poles</p>
            </div>
        </div>
        <div class="divdivinfo" style=" bottom: 285px">
            <div class="divinfo" style="width: 125px">
                <label class="labelinfo">First Race</label>
                <p class="teaminfo">{{ team.start_date }}</p>
            </div>
            <div class="divinfo" style="width: 100px; margin-left: 150px; margin-top: -44px">
                <label class="labelinfo">Titles</label>
                <p class="teaminfo">{{ team.titles }} Titles</p>
            </div>
        </div>
        <div class="divdivinfo" style="bottom: 260px">
            <div class="divinfo" style="width: 200px">
                <label class="labelinfo">Drivers-Championships</label>
                <p class="teaminfo">{{ team.titles_drivers }} Drivers Titles</p>
            </div>
            <div class="divinfo" style="width: 250px; margin-left: 230px; margin-top: -44px">
                <label class="labelinfo">Constructors-Championships</label>
                <p class="teaminfo">{{ team.titles_constructors }} Constructors
                    Titles</p>
            </div>

        </div>
        </div>
        </div>
        </a>

        {% endfor %}
    {% else %}
        <p>No Team available.</p>
    {% endif %}
    </div>
</body>
</html>

