.teaminfo {
    position: relative;
    bottom: 30px;
    left: 20px;
}

.labelinfo {
    font-size: 20px;
    position: relative;
    overflow: hidden;
    color: white;
    display: inline-block;
    bottom: 10px;
}

.divinfo {
    border: 2px solid;
    border-radius: 10px;
    height: 40px;
    border-top-color: transparent;
}

.divdivinfo {
    position: relative;
    left: 250px;
}

.teamname {
    position: relative;
    left: 250px;
    top: 10px;
    color: white;
    font-size: 200%;
}

.divimage {
    position: relative;
    left: 20px;
    bottom: 50px;
}

.divboss {
    position: relative;
    left: 20px;
    bottom: 70px;
}

.homepageteam {
    border: 5px solid;
    border-image-slice: 1;
    margin-top: 20px;
}

.homepageteam:hover {
    transform: translateY(-15px);
}